html {
  background: url("img/stars-d1900fc64ba48ac3633054f03a7864aa601973f3.jpg")
    no-repeat fixed center;
  background-size: cover;
}

body {
  background: rgba(255, 255, 255, 0.8);
  width: 600px;
  padding: 25px 100px;
  margin: 25px auto;
  text-align: left;
  border-radius: 25px;
}

input {
  width: 480px;
  height: 27px;
}

p,
h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: aqua;
  width: 80px;
  height: 35px;
  border-radius: 7px;
}
